<a href="https://colab.research.google.com/github/nagireddi-yashaswini/aiml/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

# NumPy Arrays (for numerical data)
arr1 = np.array([1, 2, 3, 4])
arr2 = np.array([[1, 2], [3, 4]])

print("NumPy Arrays:")
print(arr1)
print(arr2)

# Pandas Series (1D labeled array)
series1 = pd.Series([10, 20, 30, 40], index=['a', 'b', 'c', 'd'])
print("\nPandas Series:")
print(series1)

# Pandas DataFrame (2D labeled table)
data = {'Name': ['Alice', 'Bob', 'Charlie'], 'Age': [25, 30, 28]}
df = pd.DataFrame(data)
print("\nPandas DataFrame:")
print(df)

NumPy Arrays:
[1 2 3 4]
[[1 2]
 [3 4]]

Pandas Series:
a    10
b    20
c    30
d    40
dtype: int64

Pandas DataFrame:
      Name  Age
0    Alice   25
1      Bob   30
2  Charlie   28